

/* profile */

.container123 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card1 {
  flex: 1;
  aspect-ratio: 1 / 1; /* Set aspect ratio to 1:1 for square images */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 

.gallery123 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}


.enlarged-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the image fits within the viewport */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  z-index: 1000; /* Ensure the enlarged image is above other content */
  cursor: pointer; /* Show pointer cursor when hovering over the image */
}




.facebook-post {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-info {
  flex-grow: 1;
}

.post-content {
  padding: 10px;
}

.post-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.post-stats ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-stats ul li {
  display: inline-block;
  margin-right: 10px;
}

.post-stats ul li i {
  margin-right: 5px;
}

/* end profile */




    .nav-link:hover {
        color: #007bff; /* Change color on hover */
    }

    .list-inline-item a:hover {
        color: #007bff; /* Change color of social media icons on hover */
    }


.menu-slide {
    padding: 20px;
}

.menu-slide a {
    display: block;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
}

.menu-slide a:hover {
    background-color: #f0f0f0;
}

/* Menu icon styles */
#menu-toggle {
    cursor: pointer;
}

/* Hide scrollbar */
body {
    overflow-y: auto;
}

/* Show scrollbar when sidebar is open */
body.sidebar-open {
    overflow-y: hidden;
}


/* bar */
.link-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust spacing between items */
    align-items: center; /* Align items vertically if needed */
}

.link-item {
    /* Adjust styles for individual link items if needed */
    margin-right: 20px; /* Adjust spacing between items */
}

.link-item:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

.container-center {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 320px;
        }
        
